/* 폰트설정 */
@font-face {
    font-family: 'ROEHOE-CHAN';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'ROEHOE-CHAN', 'sans-serif';
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;
    object-fit: cover;
    /* 이미지 비율 조정 */
}

body {
    padding: calc(20px + 1vmin);
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 60%;
    text-align: center;
    font-size: 25px;
}

/* placeholder 감추기 */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
}

/* js */
.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

/* css */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.wrapper .container {
    width: 600px;
    background: #f1f1f1f1;
    font-size: 24px;
    padding: 15px;
}

.container .js-clock {
    color: lightslategray;
    font-size: 30px;
}

.container .todoListWrap {
    display: flex;
    justify-content: space-between;
    background: white;
}

.todoListWrap .todoContainer {
    width: 49%;
    height: 300px;
}

.todoContainer .todoList {
    overflow-y: auto;
    height: 230px;
    padding: 10px;
    font-size: 22px;
}

.todoContainer .finishList {
    /* 중간 밑줄 */
    text-decoration: line-through;
    text-decoration-color: red;
}

.todoListWrap button {
    background: none;
    cursor: pointer;
}

.container .weather-wrap {
    margin: 10px 0 0 0;
}